@import url("https://fonts.googleapis.com/css?family=Merriweather|Public+Sans|Domine&display=swap");
/*========================================
========about======================
*/
.section-about {
  line-height: 1.6;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background: #f3f3f3;
}

.section-about .container {
  max-width: 60vw;
}

.section-about--transition {
  opacity: 1;
}

.section-about p {
  word-spacing: 2px;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.p-break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-break i {
  color: #3f51b5;
  font-size: 3rem;
}

.logo2 {
  height: 15rem;
  width: auto;
}

.section-about h4 {
  color: #333;
  margin: 0 0 10px 0;
}

.section-about h4:after {
  display: none;
}

/*========================================
========contact======================
*/
.section-contact {
  background: repeating-linear-gradient(145deg, #f5f5f5 0.5px, #e6e6e6 1px, #fff 2px);
  padding: 0;
}

.section-contact h3 {
  text-align: center;
  margin: 4rem;
  max-width: 60vw;
}

.section-contact .contact__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  background: #fff;
  margin: 2rem 0;
  padding: 2rem;
}

.section-contact--questionnaire {
  min-height: 20rem;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-contact--questionnaire--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-contact--questionnaire--buttons--button {
  padding: 0.7rem;
  color: #fff;
  background: #6573d0;
  border: 1px solid #6573d0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0 1rem;
  border-radius: 25px;
}

.section-contact--questionnaire--buttons--button:hover {
  background: #303f9f;
  border: 1px solid #303f9f;
  -webkit-box-shadow: 0 20px 10px #bbbbbb;
          box-shadow: 0 20px 10px #bbbbbb;
  color: #fff;
  cursor: pointer;
}

.section-contact--questionnaire--buttons--button:focus {
  outline: none;
}

.section-contact--questionnaire--buttons--button::-moz-focus-inner {
  border: 0 !important;
}

.section-contact--questionnaire--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem;
}

.section-contact--questionnaire--container--question--container {
  background: #fff;
}

.section-contact--questionnaire--container--question--container--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.section-contact--questionnaire--container--question--container--row label {
  font-size: 1rem;
}

.section-contact--questionnaire--container--question--container--row--input-icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.5rem;
  width: 100%;
}

.section-contact--questionnaire--container--question--container--row--input-icon-row--icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3rem;
  padding: 0.2rem 0.5rem;
  background: #303f9f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-contact--questionnaire--container--question--container--row--input-icon-row--icon-container i {
  color: #fff;
  font-size: 1.2rem;
}

.section-contact--questionnaire--container--question--container--row--input-icon-row--input[type='text'],
.section-contact--questionnaire--container--question--container--row--input-icon-row input[type='email'] {
  min-height: 3rem;
  padding: 0.2rem;
  width: 100%;
  margin: 0;
  border: 1px solid #121254;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section-contact--questionnaire--container--question--container--row--input-icon-row--input[type='text']:hover,
.section-contact--questionnaire--container--question--container--row--input-icon-row input[type='email']:hover {
  border: 1px solid #2d2dd2;
  -webkit-box-shadow: 0 0 5px #2d2dd2;
          box-shadow: 0 0 5px #2d2dd2;
}

.section-contact--questionnaire--container--question--container--row--input-icon-row--input[type='text']:focus,
.section-contact--questionnaire--container--question--container--row--input-icon-row input[type='email']:focus {
  outline: 0px;
  border: 1px solid #2d2dd2;
  -webkit-box-shadow: 0 0 5px #2d2dd2;
          box-shadow: 0 0 5px #2d2dd2;
}

.section-contact--questionnaire--container--question--container--row button {
  background: #303f9f;
  border: 1px solid #303f9f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.section-contact--questionnaire--container--question--container--row button:hover {
  cursor: pointer;
  background: #121254;
  border: 1px solid #121254;
}

.section-contact--questionnaire--container--question--container--row button::-moz-focus-inner {
  border: 0;
}

.section-contact--questionnaire--container--question--container--row--sub-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 4rem;
}

.section-contact--questionnaire--container--question--container--row--sub-row label {
  font-size: 1rem;
}

.section-contact--questionnaire--container--question--container--row--sub-row--deep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 8rem;
}

.section-contact--form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1rem;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-contact--form-container .business--list {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-contact--form-container .business--list li {
  margin: 0.5rem 0;
}

.section-contact--form-container .business--list li p {
  font-size: 1.2rem;
}

.section-contact--form-container--form {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.section-contact--form-container--form--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-contact--form-container--form--heading h3 {
  color: #666;
}

.section-contact--form-container--form--logo {
  max-width: 10rem;
}

.section-contact--form-container--form--inputs--input-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.section-contact--form-container--form--inputs--input-column label {
  color: #1b1b7e;
}

.section-contact--form-container--form--inputs--input-column label::after {
  content: '*';
  color: #cc0000;
}

.section-contact--form-container--form--inputs--input-column .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(30, 30, 30, 0.2);
  border-radius: 5px;
}

.section-contact--form-container--form--inputs--input-column .row:hover {
  border: 1px solid #2d2dd2;
  -webkit-box-shadow: 0 0 5px #2d2dd2;
          box-shadow: 0 0 5px #2d2dd2;
  border-radius: 5px;
}

.section-contact--form-container--form--inputs--input-column .row .icon--container {
  padding: 1rem;
  background: #121254;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}

.section-contact--form-container--form--inputs--input-column .row .icon--container ion-icon {
  color: #f3f3f3;
  font-size: 1.2rem;
}

.section-contact--form-container--form--inputs--input-column .row input,
.section-contact--form-container--form--inputs--input-column .row select,
.section-contact--form-container--form--inputs--input-column .row textarea {
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  border: 1px solid transparent;
  background: #f3f3f3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-contact--form-container--form--inputs--input-column .row input:hover,
.section-contact--form-container--form--inputs--input-column .row input :focus,
.section-contact--form-container--form--inputs--input-column .row select:hover,
.section-contact--form-container--form--inputs--input-column .row select :focus,
.section-contact--form-container--form--inputs--input-column .row textarea:hover,
.section-contact--form-container--form--inputs--input-column .row textarea :focus {
  border: 1px solid #2d2dd2;
  -webkit-box-shadow: 0 0 5px #2d2dd2;
          box-shadow: 0 0 5px #2d2dd2;
}

/* Section phrase Two */
.section-phrase p {
  word-spacing: 4px;
  margin: 0;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  color: #f3f3f3;
}

.section-phrase i {
  color: #3f51b5;
}

.section-phrase {
  background-color: #09092b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23121254' stroke-width='45.8' stroke-opacity='0.04' %3E%3Ccircle fill='%2309092b' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23090a2d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23090b30' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23090c32' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23090d35' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23090e37' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23090f39' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23090f3c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2309103e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23091041' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230a1143' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%230b1146' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230c1148' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%230d114a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%230e124d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230f124f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23111252' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23121254' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px #212121;
          box-shadow: 0 2px 2px #212121;
  min-height: 50vh;
  z-index: 1;
  position: relative;
}

.section-phrase svg {
  width: 100%;
  bottom: 0%;
  position: absolute;
  z-index: 0;
}

.section-phrase h2 {
  color: #f3f3f3;
}

.section-phrase-p-break {
  width: 100%;
  margin: 3rem 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section-phrase-transition {
  opacity: 1;
}

.p--block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20vw;
  margin: 0 2.5rem;
}

.p--block p {
  text-align: center;
  font-size: 1.1rem;
}

.icon--block {
  min-height: 5vh;
  width: 100%;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon--block:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*========================================
========practices======================
*/
.section-practices {
  min-height: 100vh;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
}

.section-practices__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section-practices__container--service-bubble {
  background-color: #09092b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23121254' stroke-width='45.8' stroke-opacity='0.04' %3E%3Ccircle fill='%2309092b' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23090a2d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23090b30' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23090c32' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23090d35' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23090e37' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23090f39' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23090f3c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2309103e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23091041' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230a1143' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%230b1146' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230c1148' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%230d114a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%230e124d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230f124f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23111252' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23121254' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  border-radius: 1px;
  -webkit-box-shadow: 0 25px 25px #182051;
          box-shadow: 0 25px 25px #182051;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
  margin: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-practices__container--service-bubble a {
  display: block;
}

.section-practices__container--service-bubble h4 {
  color: #f3f3f3;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-practices__container--service-bubble h4:hover {
  cursor: pointer;
  color: #dadada;
}

.section-practices__container--service-bubble h4:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-practices__container--service-bubble i {
  color: #606fc7;
  font-size: 5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-practices__container--service-bubble:hover {
  -webkit-box-shadow: 0 35px 35px #182051;
          box-shadow: 0 35px 35px #182051;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

.section-practices__container--service-bubble:hover i {
  color: #8591d5;
}

.section-practices__container--service-bubble:hover h4:after {
  background-color: #606fc7;
}

.section-practices__container--service-bubble ul {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-practices__container--service-bubble ul li {
  color: #eee;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid #171769;
}

@media screen and (max-width: 1020px) {
  .section-practices__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

/*==================================
=========header================*/
.header {
  padding: 0px;
}

header {
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url("img/law2.jpg");
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/law2.jpg");
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  min-height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-animation: 0.6s fadein linear;
          animation: 0.6s fadein linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

header hr {
  width: 50%;
  background-color: #121254;
  margin: 1rem 0;
}

.slogan {
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  line-height: 1.3;
  margin: 0 0.5rem;
}

.slogan li {
  letter-spacing: 2.6px;
  font-size: 1.5rem;
}

.hero-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  -webkit-transform: translate(0vw, 100vh);
          transform: translate(0vw, 100vh);
  -webkit-animation: 0.5s slidein 0.5s forwards;
          animation: 0.5s slidein 0.5s forwards;
}

.hero-text-box__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.hero-text-box__buttons--survey-btn {
  padding: 1rem 2rem;
  background-color: #09092b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23121254' stroke-width='45.8' stroke-opacity='0.04' %3E%3Ccircle fill='%2309092b' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23090a2d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23090b30' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23090c32' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23090d35' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23090e37' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23090f39' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23090f3c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2309103e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23091041' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230a1143' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%230b1146' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230c1148' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%230d114a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%230e124d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230f124f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23111252' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23121254' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f3f3f3;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  border: 1px solid #09092b;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-text-box__buttons--survey-btn:hover {
  background: #1b1b7e;
  border: 1px solid #1b1b7e;
  -webkit-box-shadow: 0 5px 5px black;
          box-shadow: 0 5px 5px black;
  cursor: pointer;
}

.hero-text-box__buttons--about-btn {
  padding: 1rem 2rem;
  background: transparent;
  color: #f3f3f3;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  border: 1px solid #f3f3f3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-text-box__buttons--about-btn:hover {
  background: #1b1b7e;
  border: 1px solid #1b1b7e;
  -webkit-box-shadow: 0 5px 5px black;
          box-shadow: 0 5px 5px black;
  cursor: pointer;
}

/*========================================
========footer======================
*/
footer {
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 1rem;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.6rem;
}

footer .container:first-child {
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  color: #f3f3f3;
}

footer .border-top {
  border-top: 0.5px solid #1e1e1e;
}

footer .padding {
  padding: 2rem;
}

footer .legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.5rem;
}

footer li {
  list-style: none;
  display: block;
  font-size: 1.1rem;
  margin: 5px auto;
}

footer p {
  color: #f5f5f5;
  display: inline-block;
  font-size: 1rem;
}

.footer-h5 {
  color: #f3f3f3;
}

.footer-title {
  font-family: 'Merriweather';
}

/*========================================
=======buttons===============*/
button::focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

a.btn.btn-full:hover,
a.btn.btn-full:active,
.btn-full:hover,
.btn-full:active {
  background-color: #272e4f;
  cursor: pointer;
  border: 1px solid #272e4f;
}

.btn-full,
.btn-full:link,
.btn-full:visited {
  background-color: #303f9f;
  border-radius: 5px;
  border: 1px solid #303f9f;
  margin-right: 15px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 1.1rem;
}

.contact-button,
.contact-button:link,
.contact-button:visited {
  background-color: #303f9f;
  border-radius: 5px;
  border: 1px solid #303f9f;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  color: #fff;
  padding: 5px 0;
  margin-top: 5px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-button:hover,
.contact-button:active {
  background-color: #272e4f;
  cursor: pointer;
  border: 1px solid #272e4f;
}

/*==================================
=============alerts===============
=================================*/
.alert-success {
  background-color: rgba(76, 175, 80, 0.4);
  border: 1px solid #4caf50;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.alert-failure {
  background-color: rgba(244, 67, 54, 0.4);
  border: 1px solid #f44336;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/*active classes */
.active {
  background: rgba(48, 63, 159, 0.3);
  padding: 1rem;
  color: #fff;
  border-radius: 200px;
}

.active--button {
  padding: 0.7rem;
  color: #fff;
  background: #303f9f;
  border: 1px solid #303f9f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 15px 15px #bbbbbb;
          box-shadow: 0 15px 15px #bbbbbb;
  margin: 0 1rem;
  border-radius: 15px;
}

.active--button::focus {
  outline: none;
}

.active--button::-moz-focus-inner {
  border: 0 !important;
}

.js-wp-active {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #303f9f;
  color: #303f9f;
}

.hidden {
  display: none;
  opacity: 0;
  height: 0;
}

.show {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  background-color: rgba(10, 10, 10, 0.9);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* main nav */
nav {
  position: fixed;
  padding: 0 4rem;
  top: 0;
  left: 0;
  min-height: 4.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.9);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-animation: 1s fadein ease;
          animation: 1s fadein ease;
  z-index: 99999;
}

nav .main-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  gap: 1rem;
}

nav .main-nav li > a {
  color: #f3f3f3;
  font-size: 1.2rem;
  padding: 0.5rem;
}

nav .main-nav li > a:hover {
  cursor: pointer;
  border-bottom: 2px solid #121254;
}

nav .main-nav__dropdown {
  position: relative;
}

nav .main-nav__dropdown a {
  color: #f3f3f3;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
}

nav .main-nav__dropdown a:hover {
  cursor: pointer;
  border-bottom: 2px solid #121254;
}

nav .main-nav__dropdown--service-list {
  padding: 0;
}

nav .main-nav__dropdown--service-list a {
  width: 100%;
  color: #f3f3f3;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .main-nav__dropdown--service-list a:hover {
  color: #dadada;
  background: rgba(20, 20, 20, 0.9);
  cursor: pointer;
}

nav .main-nav__dropdown--service-list a li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  width: 100%;
}

nav .main-nav__dropdown--service-list a li:hover {
  background: rgba(20, 20, 20, 0.9);
  cursor: pointer;
}

nav .logo {
  display: block;
  height: 32px;
  width: auto;
  cursor: pointer;
  margin-left: 10px;
}

.mail-icon {
  color: #fff;
  vertical-align: middle;
}

@media screen and (min-width: 535px) {
  /*mobile nav */
  .mobile-navbar {
    visibility: hidden;
    max-height: 0;
    display: none;
  }
  .mobile-nav {
    visibility: hidden;
    max-height: 0;
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero-text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transform: translate(0vw, 100vh);
            transform: translate(0vw, 100vh);
    -webkit-animation: 0.5s slidein480 0.5s forwards;
            animation: 0.5s slidein480 0.5s forwards;
  }
  .hero-text-box h1 {
    font-size: 2.5rem;
  }
  .hero-text-box__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 2rem;
    margin: 2rem 0;
  }
  .hero-text-box__buttons--survey-btn {
    padding: 0.5rem 1rem;
    background: #121254;
    color: #f3f3f3;
    font-size: 1rem;
    letter-spacing: 1.5px;
    border: 2px solid #121254;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .hero-text-box__buttons--survey-btn:hover {
    background: #1b1b7e;
    border: 2px solid #1b1b7e;
    -webkit-box-shadow: 0 5px 5px black;
            box-shadow: 0 5px 5px black;
    cursor: pointer;
  }
  .hero-text-box__buttons--about-btn {
    padding: 0.5rem 1rem;
    background: transparent;
    color: #f3f3f3;
    font-size: 1rem;
    letter-spacing: 1.5px;
    border: 2px solid #f3f3f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .hero-text-box__buttons--about-btn:hover {
    background: #1b1b7e;
    border: 2px solid #1b1b7e;
    -webkit-box-shadow: 0 5px 5px black;
            box-shadow: 0 5px 5px black;
    cursor: pointer;
  }
  .slogan {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slogan li {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 535px) {
  /*========================================
========practices======================
*/
  .section-practices {
    min-height: 100vh;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f3f3f3;
  }
  .section-practices__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .section-practices__container--service-bubble {
    background-color: #09092b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23121254' stroke-width='45.8' stroke-opacity='0.04' %3E%3Ccircle fill='%2309092b' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23090a2d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23090b30' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23090c32' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23090d35' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23090e37' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23090f39' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23090f3c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2309103e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23091041' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230a1143' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%230b1146' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230c1148' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%230d114a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%230e124d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230f124f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23111252' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23121254' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    border-radius: 1px;
    -webkit-box-shadow: 0 25px 25px #182051;
            box-shadow: 0 25px 25px #182051;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .section-practices__container--service-bubble a {
    display: block;
  }
  .section-practices__container--service-bubble h4 {
    color: #f3f3f3;
    font-size: 1.1rem;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .section-practices__container--service-bubble h4:hover {
    cursor: pointer;
    color: #dadada;
  }
  .section-practices__container--service-bubble h4:after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .section-practices__container--service-bubble i {
    color: #606fc7;
    font-size: 3rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .section-practices__container--service-bubble:hover {
    -webkit-box-shadow: 0 35px 35px #182051;
            box-shadow: 0 35px 35px #182051;
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  .section-practices__container--service-bubble:hover i {
    color: #8591d5;
  }
  .section-practices__container--service-bubble:hover h4:after {
    background-color: #606fc7;
  }
  .section-practices__container--service-bubble ul {
    margin: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-practices__container--service-bubble ul li {
    color: #eee;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid #171769;
  }
}

@media screen and (max-width: 535px) {
  nav {
    padding: 1.5rem;
  }
  nav .main-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 1rem;
  }
  .mobile-nav-icon {
    display: block;
    color: #f3f3f3;
  }
  #lawlogo {
    margin: 0;
  }
  .visible {
    position: absolute;
    left: 0;
    z-index: -1;
    background: rgba(10, 10, 10, 0.9);
    -webkit-transform: translate(0vw, 50vh);
            transform: translate(0vw, 50vh);
    width: 100vw;
    height: 100vh;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(-150vw, 50vh);
            transform: translate(-150vw, 50vh);
    z-index: -1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: rgba(10, 10, 10, 0.9);
    height: 100vh;
    width: 100vw;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  i.bars.icon {
    margin: 0;
  }
  a.mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    color: #f5f5f5;
    z-index: 8888;
    cursor: pointer;
  }
  .nav-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
  }
  .nav-icon-container:hover,
  .nav-icon-container:active {
    color: #eee;
    cursor: pointer;
  }
  .mobile-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-height: 100rem;
    visibility: visible;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    max-height: 100rem;
  }
}

@media screen and (max-width: 535px) {
  .section-phrase {
    padding: 1rem;
  }
  .section-phrase-p-break {
    width: 100%;
    margin: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
  }
  .p--block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    margin: 1rem;
  }
  .icon--block {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 535px) {
  .section-about {
    line-height: 1.6;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    background: #f3f3f3;
    padding: 2rem;
  }
  .section-about .container {
    max-width: 100%;
  }
}

/* Reusable components=============*/
.box {
  padding: 1rem;
}

.list > li {
  margin: 1rem 0;
  font-size: 0.85rem;
}

.fadeIn {
  opacity: 1;
  -webkit-animation: fadein 0.4s ease-in;
          animation: fadein 0.4s ease-in;
}

.custom-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.custom-hr span {
  display: block;
  height: 0.2rem;
  width: 2rem;
  margin: 0 0.5rem;
  background: #202093;
}

/*=============================================ANIMATIONS=========================================*/
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes skew {
  100% {
    -webkit-transform: skew(40vw, 60vw);
            transform: skew(40vw, 60vw);
  }
}

@keyframes skew {
  100% {
    -webkit-transform: skew(40vw, 60vw);
            transform: skew(40vw, 60vw);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  100% {
    opacity: 1;
    -webkit-transform: translate(0vw, 2vh);
            transform: translate(0vw, 2vh);
  }
}

@keyframes slidein {
  100% {
    opacity: 1;
    -webkit-transform: translate(0vw, 2vh);
            transform: translate(0vw, 2vh);
  }
}

@-webkit-keyframes slidein480 {
  100% {
    opacity: 1;
    -webkit-transform: translate(0vw, 0vh);
            transform: translate(0vw, 0vh);
  }
}

@keyframes slidein480 {
  100% {
    opacity: 1;
    -webkit-transform: translate(0vw, 0vh);
            transform: translate(0vw, 0vh);
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  90% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  90% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes mobileNavSlide {
  0% {
    -webkit-transform: translate(-50vw, 50vh);
            transform: translate(-50vw, 50vh);
    color: transparent;
  }
  50% {
    -webkit-transform: translate(-10vw, 50vh);
            transform: translate(-10vw, 50vh);
  }
  90% {
    color: #fff;
  }
  100% {
    color: #fff;
    width: 100%;
    -webkit-transform: translate(0vw, 50vh);
            transform: translate(0vw, 50vh);
    z-index: 9999999;
  }
}

@keyframes mobileNavSlide {
  0% {
    -webkit-transform: translate(-50vw, 50vh);
            transform: translate(-50vw, 50vh);
    color: transparent;
  }
  50% {
    -webkit-transform: translate(-10vw, 50vh);
            transform: translate(-10vw, 50vh);
  }
  90% {
    color: #fff;
  }
  100% {
    color: #fff;
    width: 100%;
    -webkit-transform: translate(0vw, 50vh);
            transform: translate(0vw, 50vh);
    z-index: 9999999;
  }
}

@-webkit-keyframes reverseSlide {
  0% {
    -webkit-transform: translate(0, 16vh);
            transform: translate(0, 16vh);
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, -17vh);
            transform: translate(0, -17vh);
  }
}

@keyframes reverseSlide {
  0% {
    -webkit-transform: translate(0, 16vh);
            transform: translate(0, 16vh);
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, -17vh);
            transform: translate(0, -17vh);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #666;
  font-family: 'Public Sans', sans-serif;
  font-size: 83%;
  letter-spacing: 1.2px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h2,
h3,
h4 {
  font-family: 'Merriweather';
  text-transform: uppercase;
  color: #222;
}

h1 {
  color: #f3f3f3;
  font-size: 5rem;
  font-family: 'Domine', sans-serif;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 3rem;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
}

a {
  font-family: 'Public Sans', sans-serif;
}

img {
  padding: 0;
}

ul {
  list-style: none;
}

section p {
  max-width: 75vw;
  font-size: 1.7rem;
  color: #666;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  width: 100vw;
  min-height: 50vh;
}

hr {
  width: 70%;
  height: 1px;
  background-color: #3f51b5;
  border: 0;
  margin: 0.5rem 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 535px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  h2 {
    font-size: 1.8rem;
    font-weight: 300;
  }
}
/*# sourceMappingURL=main.css.map */