@import url('https://fonts.googleapis.com/css?family=Merriweather|Public+Sans|Domine&display=swap');

@import 'bases/mixins';
@import 'bases/variables';

@import 'layout/about';
@import 'layout/contact';
@import 'layout/phrase';
@import 'layout/practices';
@import 'layout/header';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/alerts';
@import 'components/active';
@import 'components/navigation';

@import 'mediaqueries/mobile/headerMobile';
@import 'mediaqueries/mobile/practicesMobile';
@import 'mediaqueries/mobile/navMobile';
@import 'mediaqueries/mobile/phraseMobile';
@import 'mediaqueries/mobile/aboutMobile';

@import 'utilities/reusable';
@import 'utilities/animations';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #666;
	font-family: 'Public Sans', sans-serif;
	font-size: 83%;
	letter-spacing: 1.2px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

h2,
h3,
h4 {
	font-family: 'Merriweather';
	text-transform: uppercase;
	color: $brand-heading;
}
h1 {
	color: $brand-white;
	font-size: 5rem;
	font-family: 'Domine', sans-serif;
	font-weight: 300;
	margin: 0;
	letter-spacing: 1px;
	word-spacing: 4px;
	letter-spacing: 1px;
}
h2 {
	font-size: 3rem;
	word-spacing: 2px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 400;
}

a {
	font-family: 'Public Sans', sans-serif;
}
img {
	padding: 0;
}
ul {
	list-style: none;
}

section p {
	max-width: 75vw;
	font-size: 1.7rem;
	color: $brand-text;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6rem;
	width: 100vw;
	min-height: 50vh;
}
hr {
	width: 70%;
	height: 1px;
	background-color: $accentColor;
	border: 0;
	margin: 0.5rem 0;
}
.container {
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 535px) {
	h1 {
		font-size: 2.5rem;
		text-align: center;
	}
	h2 {
		font-size: 1.8rem;
		font-weight: 300;
	}
}
