/*========================================
========contact======================
*/
.section-contact {
	background: repeating-linear-gradient(145deg, #f5f5f5 0.5px, #e6e6e6 1px, #fff 2px);

	padding: 0;

	& .modal {
		z-index: 999999;
		height: 100vh;
		width: 100vw;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		&--success {
			height: 10rem;
			width: 10rem;
		}
		&--error {
			height: 10rem;
			width: 10rem;
		}
	}
	& h3 {
		text-align: center;
		margin: 4rem;
		max-width: 60vw;
	}

	& .contact__container {
		display: grid;
		grid-template-columns: repeat(1, auto);
		justify-items: center;
		align-content: center;
		gap: 1rem;
		grid-template-rows: repeat(2, 1fr);
		background: #fff;
		margin: 2rem 0;
		padding: 2rem;
	}

	&--questionnaire {
		min-height: 20rem;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		&--buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;
			&--button {
				padding: 0.7rem;
				color: #fff;
				background: lighten($color, 20%);
				border: 1px solid lighten($color, 20%);
				transition: all 0.4s ease;
				margin: 0 1rem;
				border-radius: 25px;
				&:hover {
					background: $color;
					border: 1px solid $color;
					box-shadow: 0 20px 10px darken(#eee, 20%);
					color: #fff;
					cursor: pointer;
				}
				&:focus {
					outline: none;
				}
				&::-moz-focus-inner {
					border: 0 !important;
				}
			}
		}
		&--container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin: 2rem;
			&--question {
				&--container {
					background: #fff;
					&--row {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						border-bottom: 1px solid #eee;
						padding: 1rem;
						& label {
							font-size: 1rem;
						}
						&--input-icon-row {
							display: flex;
							flex-direction: row;
							margin: 0 0.5rem;
							width: 100%;
							&--icon-container {
								display: flex;
								flex-direction: column;
								justify-content: center;
								min-height: 3rem;
								padding: 0.2rem 0.5rem;
								background: $color;
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
								& i {
									color: #fff;
									font-size: 1.2rem;
								}
							}
							&--input[type='text'],
							input[type='email'] {
								min-height: 3rem;
								padding: 0.2rem;
								width: 100%;
								margin: 0;
								border: 1px solid $background;
								border-top-right-radius: 5px;
								border-bottom-right-radius: 5px;
								transition: all 0.2s ease-in-out;
								&:hover {
									border: 1px solid lighten($background, 30%);
									box-shadow: 0 0 5px lighten($background, 30%);
								}
								&:focus {
									outline: 0px;
									border: 1px solid lighten($background, 30%);
									box-shadow: 0 0 5px lighten($background, 30%);
								}
							}
						}

						& button {
							background: $color;
							border: 1px solid $color;
							transition: all 0.3s ease-in-out;
							color: #fff;
							padding: 1rem 2rem;
							border-radius: 4px;
							&:hover {
								cursor: pointer;
								background: $background;
								border: 1px solid $background;
							}
							&::-moz-focus-inner {
								border: 0;
							}
						}
						&--sub-row {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							padding: 0.5rem 4rem;
							& label {
								font-size: 1rem;
							}
							&--deep {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								padding: 0.5rem 8rem;
							}
						}
					}
				}
			}
		}
	}
	&--form-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 1rem;
		justify-items: center;
		align-content: center;
		& .business--list {
			margin: 0.5rem 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			& li {
				margin: 0.5rem 0;
				& p {
					font-size: 1.2rem;
				}
			}
		}
		&--form {
			background: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1rem;

			&--heading {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				& h3 {
					color: $brand-text;
				}
			}
			&--logo {
				max-width: 10rem;
			}
			&--inputs {
				&--input-column {
					display: flex;
					flex-direction: column;

					margin: 1rem 0;
					& label {
						color: lighten($background, 10%);
						&::after {
							content: '*';
							color: darken(#ff0000, 10%);
						}
					}
					& .row {
						display: flex;
						flex-direction: row;
						transition: all 0.2s ease-in-out;
						border: 1px solid rgba(30, 30, 30, 0.2);
						border-radius: 5px;
						&:hover {
							border: 1px solid lighten($background, 30%);
							box-shadow: 0 0 5px lighten($background, 30%);
							border-radius: 5px;
						}
						& .icon--container {
							padding: 1rem;
							background: $background;
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
							border: 1px solid transparent;
							& ion-icon {
								color: $brand-white;
								font-size: 1.2rem;
							}
						}
						& input,
						select,
						textarea {
							width: 100%;
							padding: 1rem;
							font-size: 16px;
							border: 1px solid transparent;
							background: $brand-white;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
							&:hover,
							:focus {
								border: 1px solid lighten($background, 30%);
								box-shadow: 0 0 5px lighten($background, 30%);
							}
						}
					}
				}
			}
		}
	}
}
