/*==================================
=========header================*/

.header {
  padding: 0px;
}
header {
  background: -ms-linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/law2.jpg");
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/law2.jpg");
  background: -moz-linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/law2.jpg");
  background: -webkit-gradient(linear, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("img/law2.jpg");
  background: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/law2.jpg");
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  min-height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  filter: grayscale(40%);
  animation: 0.6s fadein linear;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header hr {
  width: 50%;
  background-color: rgba(48, 63, 159, 0.7);
  margin: 1rem 0;
}
.slogan {
  color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 1.3;
}
.slogan li {
  letter-spacing: 2.6px;
  font-size: 1.5rem;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  transform: translate(0vw, 100vh);
  animation: 0.5s slidein 0.5s forwards;
}

