/* Section phrase Two */
.section-phrase p {
	word-spacing: 4px;
	margin: 0;
	font-size: 1.2rem;
	align-items: center;
	letter-spacing: 2px;
	color: $brand-white;
}
.section-phrase i {
	color: $accentColor;
}
.section-phrase {
	@include background-texture;
	color: #fff;
	box-shadow: 0 2px 2px #212121;
	min-height: 50vh;
	z-index: 1;
	position: relative;
	& svg {
		width: 100%;
		bottom: 0%;
		position: absolute;
		z-index: 0;
	}
	& h2 {
		color: $brand-white;
	}
}
.section-phrase-p-break {
	width: 100%;
	margin: 3rem 1.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	grid-template-rows: 1fr;
	justify-items: center;
	opacity: 0;
	z-index: 1;
	transition: all 0.5s;
}
.section-phrase-transition {
	opacity: 1;
}
.p--block {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 20vw;
	margin: 0 2.5rem;
}
.p--block p {
	text-align: center;
	font-size: 1.1rem;
}
.icon--block {
	min-height: 5vh;
	width: 100%;
	margin: 1rem;
	display: flex;
	justify-content: center;
	font-size: 4rem;
	transition: all 0.2s;
}
.icon--block:hover {
	transform: scale(1.3);
}
