
/*========================================
========practices======================
*/
.section-practices{
    min-height:100vh;
    padding:2rem 2rem 0 2rem;
}
.section-practices .top{
    width:100vw;
    min-height:100%;
    background-color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}
.section-practices .services{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width:100vw;
    min-height:10vh;
    align-items:center;
}
.services li{
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    padding:.7rem;
    transition: .2s linear;
}
.services li:hover{
    background: rgba(48, 63, 159, 0.5);
    padding:.7rem;
    color:#fff;
    border-radius:200px;
    cursor:pointer;
}
.services li:focus{
   background: rgba(48, 63, 159, 0.3);
   padding:.7rem;
   color:#fff;
   border-radius:200px;
}
.section-practices .left-bar,
.section-practices .right-bar,
.section-practices .middle-content{
    min-height:100vh;
}
.section-practices .middle-content{
    min-height:100vh;
    width:90%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding:1rem;
}
.section-practices .left-bar,
.section-practices .right-bar{
    width:5%;
    font-size:4rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: rgba(20,20,20,0.05);
    align-items:center;
    transition: .2s linear;
    color:var(--background);
}


.section-practices .left-bar i:hover,
.section-practices .right-bar i:hover{
    animation: 1s scaleUp infinite;
}

.section-practices .container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    width:100vw;
}
.service-title{
    margin-bottom:.5rem;
    font-size:1.3rem;
}
.section-practices .box{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    background-color:#fff;
    border-radius: .5rem;
    box-shadow: 0 1px 1px #bdbdbd;
    transition: all 0s;
    opacity:0;
}
.section-practices-box-animation{
    animation:fadein .1s forwards;
    opacity:1;
}
.section-practices .box p{
    font-size: 1.1rem;
    color: #222;
    font-weight: 500;
}
