
 <section class="section-contact" id="contact">
     <% if(success && success.length > 0){ %>
                    <p class="alert-success"> <%= success %></p>
                    <% } if(error && error.length > 0) { %>
                    <p class="alert-failure"> <%= error %></p>
                    <% } %>
                <div class="container-business">
                <ul>
                    <li><h5>Business Hours</h5></li>
                    <li><p>Mon - Fri: 9:00am - 5:30pm</p></li>
                    <li><p>Weekends: By appointment</p></li>
                </ul>
                <ul>
                    <li><h5>Phone</h5></li>
                    <li><p>Bohemia Location: 631-363-8749</p></li>
                    <li><p>Brooklyn Telephone: 646-633-4555</p></li>
                </ul>
                    
                </div>
                
         
            <div class="container-form">
                <form action="send" method="POST" class="contact-form" id="form">
                    <div class="header-row">
                        <img src="../stylesheets/img/lawofficelogo-blue.png" class="logo" id="footer-logo">
                        <h3>Send us an email.</h3>
                    </div>
                   
                    <div class="input-row">
                        <div class="input-column">
                            <div class="row">
                                <ion-icon name="mail"></ion-icon>
                                <input type="email" name="email" placeholder="Email" id="email" required>
                            </div>
                            <div class="row">
                                <ion-icon name="person"></ion-icon>
                                <input type="text" name="name" placeholder="First and Last Name" id="name" required>
                            </div>
                        </div>
                        <div class="row">
                            <textarea  name="message" placeholder="Reason for contact."  id="message" required> </textarea>
                        </div>
                        <div class="row">
                                <button class="contact-button">Send</button>
                        </div>
                    </div>
                </form>
                    <!--<div class="map"></div>-->
            </div>
        </section>
       


	<footer>
	    <div class="container">
	         <ul>
	             <li class="footer-title"><strong>No solicitations by fax or phone</strong></li>
	         </ul>
        </div>
                <div>            
                    <ul>
                        <li><span class="footer-title"><strong>Contact</strong></span></li>
                        <li>Rothenberg Law Office, PLLC</li>
                        <li>Long Island Address:</li>
                        <li>80 Orville Dr</li>
                        <li>Bohemia, NY 11716</li>
                        <li>631-363-8749</li>
                        <li>&nbsp;</li>
                        <li>Brooklyn Address:</li> 
                        <li>300 Cadman Plaza</li> 
                        <li>12th Floor</li> 
                        <li>Brooklyn, New York 11201</li>
                        <li>646-633-4555</li>
                     </ul>
              </div>
                <div class="container margin-top">
                    <ul>
                        <li><span class="footer-title"><strong>Qualifications</strong></span></li>
                        <li>MBA Financing</li>
                        <li>Accountant</li>
                        <li>Juris Doctor</li>
                    </ul>
             </div>
            <div class="container border-top padding legal">
                <p>© Rothenberg Law Office, PLLC. All rights reserved.Privacy Policy Site Map</p>
                   
                <p>Please consult an attorney for advice about your individual situation. This site and its information is not legal advice, nor is it intended to be. Feel free to get in touch by electronic mail, letters, or phone calls. Contacting us does not create an attorney-client relationship. Until an attorney-client relationship is established, please withhold from sending any confidential information to us.</p>
              
            </div>
                    
        </footer>

		
		
		
			<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="javascripts/imakewebthings-waypoints-34d9f6d/lib/jquery.waypoints.min.js"></script>
            <script src="https://maps.google.com/maps/api/js"></script>
            <script src="/javascripts/maps.js"></script>
            <script src="/javascripts/app.js"></script>
	</body>
	</html>