	<!DOCTYPE html>
	<html>
	<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/normalize.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="stylesheets/Grid.css">
	<link href="stylesheets/servicestyle.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/queries.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/animate.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Raleway:300,400,500,700" rel="stylesheet">


		<title>Rothenberg Law Offices, PLLC</title>
	</head>
	<body>    
                <nav <% if(navDisplay === 'services') { %> class="services-nav" <% } %>>
                    
                    <!--Photo by j zamora on Unsplash-->
                        <ul class="load-display">
                            <li><a href="../" class="one"><img src="stylesheets/img/lawofficelogo.png" class="logo" id="lawlogo"></a></li>
                            <li><a href="#" class=" two service-toggle"> Services</a></li>
                            <li><a href="#contact" class="three"> Contact</a></li>
                        </ul>
                        <ul class="service-list">
                                    <li><a href="/realestate"> <% if (page_title === 'realestate') { %> <i class="balance scale icon"></i><% } %> Real Estate Law </a></li>
                                    <li><a href="/probate_law"> <% if (page_title === 'probate_law') { %><i class="balance scale icon"></i> <% } %>Probate Law</a></li>
                                    <li><a href="/wills_trusts_estates"> <% if (page_title === 'wills_trusts_estates') { %><i class="balance scale icon"></i><% } %> Wills, Trusts, & Estates Law</a></li>
                                    <li><a href="/estate_litigation"> <% if (page_title === 'estate_litigation') { %><i class="balance scale icon"></i> <% } %> Estates Litigation</a></li>
                                    <li><a href="/business_law"> <% if (page_title === 'business_law') { %><i class="balance scale icon"></i> <% } %> Business Law</a></li>
                                    <li><a href="/bankruptcy_law"> <% if (page_title === 'bankruptcy_law') { %><i class="balance scale icon"></i> <% } %> Bankruptcy Law</a></li>
                        </ul>
                    <div class="mobile-navbar">
                        <img src="stylesheets/img/lawofficelogo.png" class="mobile-logo">
                        <a class="mobile-nav">
                            <i class="bars icon"></i>
                        </a>   
                    </div>
                    </div>
                </nav>