	<!DOCTYPE html>
	<html>
	<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="stylesheets/normalize.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="stylesheets/Grid.css">
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/queries.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/externalestyle.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/animate.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700" rel="stylesheet">


		<title>Rothenberg Law Offices, PLLC</title>
	</head>
	<body>
	    
	     <div class="external">
                <nav class="sticky main-nav ">
                    <div class="row">
                        <a href="../">
                            <img src="stylesheets/img/lawofficelogo.png" class="logo" id="lawlogo"></a>
                               <ul class="external-nav">
                                   <li><a href="#" class="service-toggle nav-inline">Services</a></li>
                                   <li><a href="#contact" class="services nav-inline">Contact</a></li>
                               </ul>
                                
                                <a class="mobile-nav-icon js-nav">
                                    <ion-icon name="menu" class="m-nav"></ion-icon>
                                </a>
                                 <ul class="extended-nav">
                                    <li><a href="/realestate" class="services">Real Estate Law</a></li>
                                    <li><a href="/probate_law" class="services">Probate Law</a></li>
                                    <li><a href="/wills_trusts_estates" class="services">Wills, Trusts, & Estates Law</a></li>
                                    <li><a href="/estate_litigation" class="services">Estates Litigation</a></li>
                                    <li><a href="/business_law" class="services">Business Law</a></li>
                                    <li><a href="/bankruptcy_law" class="services">Bankruptcy Law</a></li>
                                 </ul>
                    </div>
                </nav>