<% include partials/header %>

</div>
</header>
<div class="post-container">
    <div class="api-post" style="min-height:100vh; color: #222;">
        
    </div>
    
</div>






<% include partials/footer %>