<% include partials/extended_partials/header %>

         

                      <div class="row probate-head">
                           <div class="col span-4-of-4">
                                <h2><%= headingDisplay %></h2>
                            </div>
                        </div>
                        
                        
                        <div class="container">
                            <section class="probate_body">
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            At Rothenberg Law Office, PLLC, our philosophy is that bankruptcy lawyers in Bohemia, NY, should engage clients on a personalized, individual basis, rather than simply treating people like case files. This practice will help you to complete this stressful, intimidating process and to create your best future on the other side. No matter what your circumstances may be, there is always a way to lay groundwork for a better and more stable future. We are happy to help you do just that by providing knowledgeable legal counsel. Call us today to speak about the following types of bankruptcy:
                                        </p>
                                    </div>
                                </div>
                                   <div class="row">
                                        <div class="col span-2-of-4 ">
                                            <ul class="probate-details list">
                                                <li><ion-icon name="add"></ion-icon>Chapter 7</li>
                                                <li><ion-icon name="add"></ion-icon>Chapter 11</li>
                                                <li><ion-icon name="add"></ion-icon>Chapter 13</li>
                                        </div>
                                        <div class="col span-1-of-4 box">
                                                <img src="assets/css/img/probatephoto1.jpg" class="image">
                                        </div>
                                   </div>
                            </section>
                            
                            <section class="section-break">
                                <div class="row">
                                    <div class="col span-4-of-4 ">
                                        <img src="assets/css/img/balance.svg" class="extended-logo">
                                    </div>
                                </div>
                            </section>
                            
                            <section class="probate_body">
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <h3 class="titles">Personal Bankruptcy Attorneys Who Care</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                           When you need personal bankruptcy attorneys that are competent, attentive, and ready to fight for your best interest, you can rely on anyone in our firm to do the job right. Your future is important to us, and we know that the events and legal decisions surrounding your bankruptcy can affect you and your family for many years to come. That’s why you can contact us any time to discuss the details of how our dedicated firm is ready to support you in this difficult time.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                           Call today to speak with one of our personal bankruptcy attorneys in Bohemia, NY.
                                        </p>
                                    </div>
                                </div>
                            </section>
                         </div>

 
<% include partials/footer %>