<% include partials/extended_partials/header %>

         

                      <div class="row probate-head">
                           <div class="col span-4-of-4">
                                <h2>Business Law</h2>
                            </div>
                        </div>
                        
                        
                        <div class="container">
                            <section class="probate_body">
                                    <div class="row">
                                       
                                    </div>
                                    
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            Do you find yourself facing legal troubles in regards to your commercial enterprise? The longer you run a business, the more likely it becomes that you'll need the help of a knowledgeable commercial litigation firm such as ours. Address any problems you might face by turning to Rothenberg Law Office, PLLC, the firm that Bohemia, NY, has trusted for years. Call us today for help managing the following legal aspects of your company:   
                                        </p>
                                    </div>
                                </div>
                                   <div class="row">
                                        <div class="col span-2-of-4">
                                            <ul class="probate-details list">
                                                <li><ion-icon name="add"></ion-icon>Forming Contracts</li>
                                                <li><ion-icon name="add"></ion-icon>Defending Lawsuits</li>
                                                <li><ion-icon name="add"></ion-icon>Addressing Copyright Infringement</li>
                                                <li><ion-icon name="add"></ion-icon>Forming LLCs</li>
                                        </div>
                                        <div class="col span-1-of-4 box">
                                                <img src="assets/css/img/probatephoto1.jpg" class="image">
                                        </div>
                                   </div>
                            </section>
                            
                            <section class="section-break">
                                <div class="row">
                                    <div class="col span-4-of-4 ">
                                        <img src="assets/css/img/balance.svg" class="extended-logo">
                                    </div>
                                </div>
                            </section>
                            
                            <section class="probate_body">
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <h3 class="titles">Take Some of the Stress Out of Owning a Business</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                           Running a business is difficult enough without having to constantly worry about whether or not you are legally protected. There are many rewarding aspects of being a business owner, but when it comes to dealing with competitors, employee issues, and contract breaches, you have your hands full. Turn to our business law practice for help taking the burden off of these areas of your operation. We are here to provide you with the legal counsel and representation you need both in and out of the courtroom. Our attorneys keep you informed about any changes in your situation or the laws concerning your business even when there are no legal issues currently being contested. Call today to set up an appointment so that we can go over all of the important issues together.
                                        </p>
                                    </div>
                                </div>
                             
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            Commercial Litigation Firm Offering Aggressive Representation
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            Contact our firm today to speak with a skilled commercial litigation lawyer. We are proud to represent Bohemia, NY, and the surrounding area.
                                        </p>
                                    </div>
                                </div>
                            </section>
                         </div>

 
<% include partials/footer %>