<% include partials/header %>
<iframe src="https://snazzymaps.com/embed/200241" width="100%" height="300px" style="border:none;"></iframe>

<section class="section-contact" id="contact">
	<h3>
		If you would like to specify your request, please fill out one of the below surveys. Otherwise you can just send
		a general email.
	</h3>
	<% if(success && success.length > 0){ %>
	<p class="alert-success"><%= success %></p>
	<% } if(error && error.length > 0) { %>
	<p class="alert-failure"><%= error %></p>
	<% } %>
	<div class="contact__container">
		<div class="section-contact--questionnaire">
			<div class="section-contact--questionnaire--buttons">
				<% serviceBtns.forEach((service) => { %>
				<button class="section-contact--questionnaire--buttons--button">
					<%=service.title %>
				</button>
				<% }) %>
			</div>

			<form class="section-contact--questionnaire--container"></form>
		</div>

		<div class="section-contact--form-container">
			<form action="/api/send-email" method="POST" class="section-contact--form-container--form" id="form">
				<div class="section-contact--form-container--form--heading">
					<img
						src="../stylesheets/img/lawofficelogo-blue.png"
						class="section-contact--form-container--form--logo"
						id="footer-logo"
					/>
				</div>

				<div class="section-contact--form-container--form--inputs">
					<div class="section-contact--form-container--form--inputs--input-column">
						<label>Please enter a valid email address.</label>
						<div class="row">
							<div class="icon--container">
								<ion-icon name="mail"></ion-icon>
							</div>
							<input type="email" name="email" placeholder="Email" id="email" required />
						</div>
					</div>
					<div class="section-contact--form-container--form--inputs--input-column">
						<label>Please enter your first and last name.</label>
						<div class="row">
							<div class="icon--container">
								<ion-icon name="person"></ion-icon>
							</div>
							<input type="text" name="name" placeholder="First and Last Name" id="name" required />
						</div>
					</div>
					<div class="section-contact--form-container--form--inputs--input-column">
						<label>Please select the subject of the message.</label>
						<div class="row">
							<div class="icon--container">
								<ion-icon name="filing"></ion-icon>
							</div>
							<select id="subject" name="subject" class="dropdown">
								<% services.forEach(service => { %>
								<option><%= service.title %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="section-contact--form-container--form--inputs--input-column">
						<label>Please add a brief message describing your needs.</label>
						<div class="row">
							<textarea name="message" placeholder="Reason for contact." rows="5" id="message" required>
							</textarea>
						</div>
					</div>
					<button class="contact-button">Send</button>
				</div>
			</form>
			<ul class="business--list">
				<li><h4>Hours:</h4></li>
				<li><p>Mon - Fri: 9:00am - 5:30pm</p></li>
				<li><p>Weekends: By appointment</p></li>
				<li><h4>Phone:</h4></li>
				<li><p>Bohemia: 631-363-8749</p></li>
				<li><p>Brooklyn: 646-633-4555</p></li>
			</ul>
		</div>
	</div>
</section>

<% include partials/footer %>
