<% include partials/extended_partials/header %>

         

                      <div class="row probate-head">
                           <div class="col span-4-of-4">
                                <h2>Estate Litigation</h2>
                            </div>
                        </div>
                        
                        
                        <div class="container">
                            <section class="probate_body">
                                    
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            Are you involved in a legal battle regarding the estate of a loved one? Are certain assets being withheld from you while you wait for proceedings to play out? When it comes to matters of estate litigation, you need a knowledgeable lawyer on your side to represent your best interests and that of the estate in question. That’s where the team at Rothenberg Law Office, PLLC comes in.    
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            The professionals at Rothenberg Law Office, PLLC in Bohemia, NY offer a wide range of estate litigation services. When you work with the team at Rothenberg Law Office, PLLC, you can expect thorough, personal, and compassionate service every step of the way.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            With convenient hours and easy appointment scheduling, the team at Rothenberg Law Office, PLLC aims to make it easy to get the legal help you need. Call today to schedule your consultation.
                                        </p>
                                    </div>
                                </div>
                            </section>

 
<% include partials/footer %>