<% include partials/header %>



        <header id="header">
            <nav>
                    <a href="#header">
                        <img src="stylesheets/img/lawofficelogo.png" class="logo" id="lawlogo"></a>
                    <!--Photo by j zamora on Unsplash-->
                        <ul class="main-nav js-main-nav">
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#Blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    <a class="mobile-nav-icon js-nav">
                    <ion-icon name="menu" class="m-nav"></ion-icon>
                    </a>
                </nav>
                
            <div class="hero-text-box">
                <h1>Rothenberg Law Office, PLLC</h1>
                <hr>
                <ul class="slogan">
                    <li><em>Experience You Can Trust</em></li>
                    <li><em>Established in 1992</em></li>
                </ul>
                <!--<a href="#" class="btn btn-full btn-question">Questionnaire</a>-->
            </div>
        </header>
        
        
        <section class="section-about js-wp-about" id="about">
             <h2>About Rothenberg Law Offices</h2>
           
            <div class="container">
                    <p>
                        You can protect your rights and your interests with the help of a lawyer from the Rothenberg Law Office in Bohemia, NY. Since 1989, we've been assisting clients like you who want someone to guide them through the process. We've brought or defended cases before the New York State Supreme Court and New York Surrogates Court.
                    </p>
                    <div class="p-break">
                        <i class="handshake outline icon"></i>
                        <i class="balance scale icon"></i>
                        <i class="hourglass outline icon"></i>
                    </div>
                        
                        <p>
                        Our goal will be to give your case the kind of personal attention it deserves. We have the resources to tackle legal issues of any scope or complexity in the courtroom or in the boardroom. When you choose us, we'll provide you with individual guidance so that you can make informed decisions. We're familiar with:
                        </p>
            </div>
        </section>
        
        <section class="section-about-two">
            <div class="container">
                        <ul class="about-list">
                        <li><ion-icon name="add"></ion-icon>
                            Wills, Trusts & Estates Law</li>
                        <li><ion-icon name="add"></ion-icon>
                            Estate Administration</li>
                        <li><ion-icon name="add"></ion-icon>
                            Estate Litigation</li>
                        <li><ion-icon name="add"></ion-icon>
                            Business Law</li>
                        <li><ion-icon name="add"></ion-icon>
                            Real Estate Law</li>
                        <li><ion-icon name="add"></ion-icon>
                            Bankruptcy Law</li>
                         </ul>
                         <ul class="image-list">
                            <li><img src="stylesheets/img/mediation.jpg" class="image"></li>
                            <li><img src="stylesheets/img/agree.jpg" class="image"></li>
                            <li><img src="stylesheets/img/sign.jpg" class="image"></li>
                        </ul>
                         <p>
                        Instead of trying to work through a legal matter by yourself, allow a lawyer from the Rothenberg Law Office to be by your side from start to finish. We're proud to serve clients in the Greater Bohemia area, as well as Suffolk and Nassau Counties, and we offer flexible appointment options. To set up a meeting, call us today.
                         </p>
                    </div>
                </section>
        
        <section class="section-practices js-wp-practices" id="services">
            <div class="row">
                <h2>Practice Areas</h2>
            </div>
            <div class="container">
               
                    <div class=" box">
                        <img src="stylesheets/img/contract.svg" class="logo m-logo">
                        <h4>Wills, Trusts & Estates Law</h4>
                       <!-- <p class="practices-paragraph">Trust the planning of your estate with our reputable law firm. Our extensive experience with estate law in Bohemia, NY, has established us as the area’s preferred provider of estate planning. Rothenberg Law Office, PLLC offers personalized service that meets the individual needs and goals of each client. We help you develop the legally binding plan that best... </p>-->
                        <a href="/wills_trusts_estates" class="btn btn-full">See More</a>
                    </div>
                      <div class=" box">
                           <img src="stylesheets/img/house.svg" class="logo m-logo">
                        <h4>Real Estate Law</h4>
                        <!--<p class="practices-paragraph">Acquiring real estate is a major investment, and you want to ensure that all contractual details are consistent with the agreed upon terms. To protect your investment and guarantee that you’re entering into the contract you want, trust Rothenberg Law Office, PLLC. We are the experienced real estate transaction lawyers in Bohemia, NY, who make sure the deal is finalized to your satisfaction. Real estate law and contracts can be dense...</p>-->
                        <a href="/realestate" class="btn btn-full">See More</a>
                    </div>
                    <div class=" box">
                        <img src="stylesheets/img/probate.svg" class="logo m-logo">
                        <h4>Probate Law</h4>
                       <!-- <p class="practices-paragraph">When you need legal representation for the settlement of your estate, call Rothenberg Law Office, PLLC. Our probate law firm in Bohemia, NY, specializes in the administration of asset distribution. Whether or not there is a will, our law firm has the years of experience and the deep familiarity with probate law necessary to bring your case to successful resolution. From real estate probate to probate litigation in the courtroom...</p>-->
                        <a href="/probate_law" class="btn btn-full">See More</a>
                    </div>
                    
                    <div class=" box">
                          <img src="stylesheets/img/house2.svg" class="logo m-logo">
                        <h4>Estate Litigation</h4>
                       <!-- <p class="practices-paragraph">Are you involved in a legal battle regarding the estate of a loved one? Are certain assets being withheld from you while you wait for proceedings to play out? When it comes to matters of estate litigation, you need a knowledgeable lawyer on your side to represent your best interests and that of the estate in question. That’s where the team at Rothenberg...</p>-->
                        <a href="/estate_litigation" class="btn btn-full">See More</a>
                    </div>
                    <div class=" box">
                        <img src="stylesheets/img/agreement.svg" class="logo m-logo">
                        <h4>Business Law</h4>
                       <!-- <p class="practices-paragraph">Do you find yourself facing legal troubles in regards to your commercial enterprise? The longer you run a business, the more likely it becomes that you'll need the help of a knowledgeable commercial litigation firm such as ours. Address any problems you might face by turning to Rothenberg Law Office, PLLC, the firm that Bohemia, NY, has trusted for years...</p>-->
                        <a href="/business_law" class="btn btn-full">See More</a>
                        
                    </div>
                    <div class=" box">
                           <img src="stylesheets/img/deed.svg" class="logo m-logo">
                        <h4>Bankruptcy Law</h4>
                       <!-- <p class="practices-paragraph">At Rothenberg Law Office, PLLC, our philosophy is that bankruptcy lawyers in Bohemia, NY, should engage clients on a personalized, individual basis, rather than simply treating people like case files. This practice will help you to complete this stressful, intimidating process and to create your best future on the other side. No matter what your circumstances...</p>-->
                        <a href="/bankruptcy_law" class="btn btn-full">See More</a>
                    </div>
                
            </div>
        </section>
       


<% include partials/footer %>