<% include partials/header %>

<body>
	<div class="header">
		<header id="header">
			<div class="overlay"></div>
			<div class="hero-text-box">
				<h1>Rothenberg Law Offices, PLLC</h1>

				<hr />
				<ul class="slogan">
					<li>Experience You Can Trust,</li>
					<li>Established 1992.</li>
				</ul>
				<div class="hero-text-box__buttons">
					<a href="/contact" alt="contact page"
						><button class="hero-text-box__buttons--survey-btn">Fill out survey</button></a
					>
					<a href="/about" alt="about page"
						><button class="hero-text-box__buttons--about-btn">Learn about us</button></a
					>
				</div>
				<!--<a href="#" class="btn btn-full btn-question">Questionnaire</a>-->
			</div>
		</header>
	</div>

	<section class="section-practices" id="js-wp-practices">
		<h2>Practice Areas</h2>
		<div class="custom-hr">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="section-practices__container">
			<% services.map(service => { %>
			<div class="section-practices__container--service-bubble">
				<i class="<%=service.icon%>"> </i>
				<a href="<%=service.ref %>"><h4><%= service.title %></h4></a>
				<ul>
					<% service.subCat.forEach(sub => { %>
					<li><%= sub %></li>
					<% }) %>
				</ul>
			</div>
			<% }) %>
		</div>
	</section>

	<section class="section-phrase" id="js-wp-phrase">
		<h2>Contact us</h2>
		<div class="custom-hr">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
			<path fill="#09092b" fill-opacity="0.2" d="M0,224L720,192L1440,32L1440,320L720,320L0,320Z"></path>
		</svg>
		<div class="section-phrase-p-break">
			<div class="p--block">
				<div class="icon--block">
					<i class="map marker alternate icon"></i>
				</div>
				<p>
					We're proud to serve clients in the Greater Bohemia area, as well as Suffolk and Nassau Counties.
				</p>
			</div>
			<div class="p--block">
				<div class="icon--block">
					<i class="envelope outline icon"></i>
				</div>
				<p>
					Instead of trying to work through a legal matter by yourself, allow a lawyer from the Rothenberg Law
					Office to be by your side from start to finish.
				</p>
			</div>
			<div class="p--block">
				<div class="icon--block">
					<i class="phone icon"></i>
				</div>
				<p>
					We offer flexible appointment options. To set up a meeting, call us today.
				</p>
			</div>
		</div>
	</section>

	<section class="section-about js-wp-about" id="js-wp-about">
		<h2>About Rothenberg Law Offices</h2>
		<div class="custom-hr">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="container">
			<p>
				You can protect your rights and your interests with the help of a lawyer from the Rothenberg Law Office
				in Bohemia, NY. Since 1989, we've been assisting clients like you who want someone to guide them through
				the process. We've brought or defended cases before the New York State Supreme Court and New York
				Surrogates Court.
			</p>
			<div class="p-break">
				<i class="handshake outline icon"></i>
				<i class="balance scale icon"></i>
				<i class="hourglass outline icon"></i>
			</div>
			<p>
				Our goal will be to give your case the kind of personal attention it deserves. We have the resources to
				tackle legal issues of any scope or complexity in the courtroom or in the boardroom. When you choose us,
				we'll provide you with individual guidance so that you can make informed decisions.
			</p>
		</div>
	</section>
</body>
<% include partials/footer %>
