<% include partials/extended_partials/header %>

         

                      <div class="row probate-head">
                           <div class="col span-4-of-4">
                                <h2>Probate Law</h2>
                            </div>
                        </div>
                        
                        
                <div class="container">
                    <section class="probate_body">
                        
                      
                        
                            <div class="row">
                               
                            </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">When you need legal representation for the settlement of your estate, call Rothenberg Law Office, PLLC. Our probate law firm in Bohemia, NY, specializes in the administration of asset distribution. Whether or not there is a will, our law firm has the years of experience and the deep familiarity with probate law necessary to bring your case to successful resolution. From real estate probate to probate litigation in the courtroom, we apply our expertise to all cases in which clients seek an equitable estate settlement. As part of our usual probate duties, our services include:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-2-of-4 ">
                                <ul class="probate-details list">
                                    <li><ion-icon name="add"></ion-icon>Mediating Disputes over Assets between Beneficiaries</li>
                                    <li><ion-icon name="add"></ion-icon>Validating the Will</li>
                                    <li><ion-icon name="add"></ion-icon>Settling Outstanding Debts</li>
                                    <li><ion-icon name="add"></ion-icon>Paying Taxes</li>
                                    <li><ion-icon name="add"></ion-icon>Making an Inventory of Assets</li>
                                    <li><ion-icon name="add"></ion-icon>Distributing Remaining Assets on Behalf of the Decedent</li>
                                    <li><ion-icon name="add"></ion-icon>Preparing and Filing the Necessary Paper Work</li>
                                </ul>
                            </div>
                            <div class="col span-1-of-4 box">
                                    <img src="assets/css/img/probatephoto1.jpg" class="image">
                            </div>
                        </div>
                    </section>
                    
                    <section class="section-break">
                        <div class="row">
                            <div class="col span-4-of-4 ">
                                <img src="assets/css/img/balance.svg" class="extended-logo">
                            </div>
                        </div>
                    </section>
                    
                    
                    <section class="probate_body">
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <h3 class="titles">Probate Administration for Your Estate Settlement <ion-icon name="checkmark"></ion-icon></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">We understand that estate settlement can be a sensitive, emotionally charged process. Our mission is to bring your case to a successful close while minimizing the stress and burden on you and your family. However straightforward or convoluted your case may be, we provide compassionate and considerate probate administration.</p>
                            </div>
                        </div>
                        </section>
                        
                         <section class="section-break">
                        <div class="row">
                            <div class="col span-4-of-4 ">
                                <img src="assets/css/img/contract2.svg" class="extended-logo">
                            </div>
                        </div>
                    </section>
                    
                        <section class="probate_body">
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <h3 class="titles">Protect Your Interests by Trusting Our Law Firm <ion-icon name="checkmark"></ion-icon></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">Our services are designed to streamline and facilitate probate administration. Estate settlement can become a contested process, but we ensure your peace of mind by working diligently to resolve all necessary matters.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">Contact us today to schedule a consultation at our probate law firm. We serve clients in Bohemia, NY.</p>
                            </div>
                        </div>
                    </div>
                </section>

 
<% include partials/footer %>