<% include partials/extended_partials/header %>


                      <div class="row realestate-head">
                           <div class="col span-4-of-4">
                                <h2><%= headingDisplay %></h2>
                            </div>
                        </div>
                        
                        
                    <div class="container">
                    <section class="probate_body">
                        
                      
                        
                            <div class="row">
                               
                            </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">Acquiring real estate is a major investment, and you want to ensure that all contractual details are consistent with the agreed upon terms. To protect your investment and guarantee that you’re entering into the contract you want, trust Rothenberg Law Office, PLLC. We are the experienced real estate transaction lawyers in Bohemia, NY, who make sure the deal is finalized to your satisfaction. Real estate law and contracts can be dense and easy to misconstrue. However, our law firm is here to see that your contract reflects your best interests.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">Over the years, our legal expertise and attention to detail have earned us our reputation as the real estate lawyers trusted by local residents. Safeguard your property transaction by leaving the fine print to us. In addition to our standard transaction and contract services, we specialize in:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-2-of-4">
                                <ul class="probate-details list">
                                    <li><ion-icon name="add"></ion-icon>Resolution of Landlord/Tenant Disputes</li>
                                    <li><ion-icon name="add"></ion-icon>Transfer of Title and Ownership</li>
                                    <li><ion-icon name="add"></ion-icon>Title Dispute Representation</li>
                                    <li><ion-icon name="add"></ion-icon>Contract Disputes</li>
                                    <li><ion-icon name="add"></ion-icon>Breach of Contract</li>
                                    <li><ion-icon name="add"></ion-icon>Boundary Dispute Representation</li>
                                    <li><ion-icon name="add"></ion-icon>Property Liens</li>
                                    <li><ion-icon name="add"></ion-icon>Easements, Right Of Way, and Access Issues</li>
                                    <li><ion-icon name="add"></ion-icon>Buying and Selling Property</li>
                                     <li><ion-icon name="add"></ion-icon>Commercial Leases</li>
                                    <li><ion-icon name="add"></ion-icon>Lease Drafting</li>
                                </ul>
                            </div>
                            <div class="col span-1-of-4 box">
                                    <img src="https://images.unsplash.com/photo-1523958203904-cdcb402031fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e2f3916b5fe91b9761b156530e330dc&auto=format&fit=crop&w=750&q=80" class="image">
                            </div>
                        </div>
                    </section>
                    
                    <section class="section-break">
                        <div class="row">
                            <div class="col span-4-of-4 ">
                                <img src="assets/css/img/balance.svg" class="extended-logo">
                            </div>
                        </div>
                    </section>
                    
                    
                    <section class="probate_body">
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <h3 class="titles">Facilitating Your Real Estate Transactions <ion-icon name="checkmark"></ion-icon></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-4-of-4 box">
                                <p class="probate-par">Our law office represents your interests and protects your money during real estate transactions. As your dedicated real estate contract lawyers, we apply our years of experience to seeing that your property transaction runs as smoothly and as fairly as possible.</p>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col span-4-of-4 box">
                                <p class="probate-par">Contact us to retain the services of our real estate contract lawyers. We serve clients in Bohemia, NY.</p>
                            </div>
                        </div>
                        </section>
                        
                        
                    
                   
            </div>

 
<% include partials/footer %>