<% include partials/extended_partials/header %>

         

                      <div class="row probate-head">
                           <div class="col span-4-of-4">
                                <h2>Will and Trust Law</h2>
                            </div>
                        </div>
                        
                        
                        <div class="container">
                            <section class="probate_body">
                                    <div class="row">
                                       
                                    </div>
                                    
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">Our living trust lawyers are here to help clients in Bohemia, NY, make sure that their family members are covered immediately upon their passing without having to go through the probate process. A living trust is a legal construct that gives you access to your money while you live, but then transfers that money directly into a trust for your beneficiaries to use. Rothenberg Law Office, PLLC understands that the probate period can pose serious issues for your heirs if they do not have the money to pay for things like the utility bills of their newly acquired property. Call us today for help finding a workaround to this problem through a living trust.</p>
                                    </div>
                                </div>
                            </section>
                            
                            <section class="section-break">
                                <div class="row">
                                    <div class="col span-4-of-4 ">
                                        <img src="assets/css/img/balance.svg" class="extended-logo">
                                    </div>
                                </div>
                            </section>
                            
                            <section class="probate_body">
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <h3 class="titles">Plan Ahead for Maximum Financial Security</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            Solid trust planning is one of the best ways to ensure your family’s security for years to come. With a solid trust drafted by our firm, you will have a plan for the equitable distribution of your wealth to the people or organizations you name as your beneficiaries. Trusts are highly versatile, capable of being set up to provide long-term financial support to minors and people with physical disabilities. Call today to learn more about the following types of trusts:
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-2-of-4 ">
                                        <ul class="probate-details list">
                                            <li><ion-icon name="add"></ion-icon>Living Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Living Revocable Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Revocable Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Gun Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Pet Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Irrevocable Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Medicaid Protection Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Special Needs Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Charitable Trusts</li>
                                        </ul>
                                    </div>
                                    <div class="col span-1-of-4 box">
                                            <img src="assets/css/img/probatephoto1.jpg" class="image">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            Contact us today to begin planning for the future. We are proud to serve clients throughout Bohemia, NY.
                                        </p>
                                    </div>
                                </div>
                            </section>
                         </div>

 
<% include partials/footer %>