<% include partials/extended_partials/header %>

         

                      <div class="row probate-head">
                           <div class="col span-4-of-4">
                                <h2>Wills Trusts & Estates Law</h2>
                            </div>
                        </div>
                        
                        
                        <div class="container">
                            <section class="probate_body">
                                    <div class="row">
                                       
                                    </div>
                                    
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">Trust the planning of your estate with our reputable law firm. Our extensive experience with estate law in Bohemia, NY, has established us as the area’s preferred provider of estate planning. Rothenberg Law Office, PLLC offers personalized service that meets the individual needs and goals of each client. We help you develop the legally binding plan that best protects your assets and your family’s future.</p>
                                    </div>
                                </div>
                            </section>
                            
                            <section class="section-break">
                                <div class="row">
                                    <div class="col span-4-of-4 ">
                                        <img src="assets/css/img/balance.svg" class="extended-logo">
                                    </div>
                                </div>
                            </section>
                            
                            <section class="probate_body">
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <h3 class="titles">Reputable Estate Planning Attorneys</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                           While estate law is often complicated, we make the process straightforward so you can be certain that you’ve made the appropriate arrangements. Schedule a consultation at our law office to discuss:
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-2-of-4 ">
                                        <ul class="probate-details list">
                                            <li><ion-icon name="add"></ion-icon>Wills</li>
                                            <li><ion-icon name="add"></ion-icon>Trusts</li>
                                            <li><ion-icon name="add"></ion-icon>Power of Attorney</li>
                                            <li><ion-icon name="add"></ion-icon>Probate Services</li>
                                        </ul>
                                    </div>
                                    <div class="col span-1-of-4 box">
                                            <img src="assets/css/img/probatephoto1.jpg" class="image">
                                    </div>
                                </div>
                            </section>
                            
                            <section class="probate_body">
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <h3 class="titles">Comprehensive Estate Planning Services</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                            As your estate planning attorneys, we appreciate that your primary concern is to provide for your family’s future. Our services give you the peace of mind that comes from knowing your careful estate planning will help to support your family. Prearranging the course of your financial affairs eases the burden you and your family feel as you face other crucial end-of-life decisions.
                                        </p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                           Wherever you are in the course of your life or career, it’s never too early to start planning for the future. An estate plan ensures the fair and equitable division of your assets according to your specific wishes. Make sure you are in control of your assets by consulting with our law firm.
                                        </p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col span-4-of-4 box">
                                        <p class="probate-par">
                                          Contact us to consult with experienced estate planning attorneys. We serve clients in Bohemia, NY.
                                        </p>
                                    </div>
                                </div>
                            </section>
                         </div>

 
<% include partials/footer %>