@media only screen and (max-width: 280px){
	.section-about h2,
	.section-practices h2,
	.section-contact h2{
        font-size: 100% ;
    }
}

/*small phones 0 - 480px */
@media only screen and (max-width: 480px){
    h4{
        font-size: 90%;
    }
    .main-nav{
        font-size: 90%;
    }
    a.mobile-nav-icon.js-nav{
        margin-top:0px;
    }
    
    .m-logo{
        margin: 0 auto;
        text-align: center;
    }
    
    .sticky ion-icon.m-nav.icon.hydrated{ 
        color:#f5f5f5;
        margin-top: 10px;
    }
    .box-about{
        padding: 15px;
    }
    .section-about{
        padding:20px;
    }
    .section-about ul{
        margin-bottom: 30px;
    }
    .section-about p {
        font-size: 90%;
    }
    .section-about ul li{
        font-size: 100%;
    }
    
    .section-about img.image{
        display: none;
    }
    .section-about div.col.span-1-of-4{
        margin:0;
    }
    .list li{
         list-style-position: inside;
         text-indent:-1em;
         padding-left:.05em;
         line-height: 2;
    }
	section{ 
        padding: 25px 10px; 
    }
   
    h4:after{
        margin:5px auto;
    }
    form.contact-form {
        width: 100%;
        margin-left:0;
        margin-right: 0;
    }
    
    header .logo{
        height: 45px;
        margin: 10px 5px 10px 0;
        z-index:0;
    }
    header h1{
        font-size:170%;
        margin:0 2%;
    }
    header hr{
        margin-left:7%;
    }
   
    .probate-head h2{
        margin-top:10px;
    }
    .extended-nav li a:link,
    .extended-nav li a:visited{
        padding:10px 0;
    }
    .probate-details ion-icon,
    .probate-details li{
        margin-left: 0;
    }
  
   

}



@media only screen and (max-width: 680px){

    
}

/*small phones to small tablets 481 to 767*/

@media only screen and (max-width: 767px){

    body{
        font-size: 16px;
      }
    
    .box{
        text-align: center;
    }
    h4:after{
        margin: 5px auto;
    }
    .mobile-nav-icon{display:block; z-index: 9999;}

    h1{font-size: 210%;}
    h2{font-size: 140%;}
    
    .main-nav{ 
        min-height:30px;
        display: none; 
        z-index: 9999;
    }
    ul.main-nav{
        flex-direction:column;
        min-height:30px;
    }
    ul.external-nav{
        display: none;
    }
    
    
    ul.extended-nav{
        display: none;
        float:left;
    }
    
    .main-nav li{display: block;}

    .main-nav li a:link,
    .main-nav li a:visited{ 
        border: 0; 
        padding: 2px 0;
        font-size:100%;
        }
    
    .m-nav{
        color:#f5f5f5; 
        font-size:170%; 
        display:flex;
    }
    
   
    footer p{
        float: left;
    }
    
    
    .img-mob:first-child{
        display: none;
    }
    .img-mob:nth-child(3){
        display: none;
    }
    form.contact-form{
        margin: 0 auto;
        width: 100%;
    }
    .map{
        margin: 0 auto;
    }
    }





/*small tablet to big tablet from 768 to 1023*/
@media only screen and (max-width: 1023px){

body{font-size: 18px;}
section{padding:60px 0;}

.contact-form{
    width: 100%;
}
.about-list{
    font-size: 90%;
    margin-top: 20px;
}
}

/*big tablet to 1200px (widths smaller than pixel row*/
@media only screen and (max-width: 1200px){

.hero-text-box{
	padding:0 2%;
	width: 100%;
}
.row{padding: 0 2%;}

.sticky .logo{
    height: 40px;
}
}


/*big tablet to 1200px (widths smaller than pixel row*/
@media only screen and (max-width: 1200px){

.hero-text-box{
	padding:0 2%;
	width: 100%;
}
.row{padding: 0 2%;}


}