@media (max-width: 970px) {
	.container-business {
		width: 100vw;
		justify-content: space-around;
	}
	div.container-form-map-row {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
	}
	form#form.contact-form {
		min-width: 45vw;
	}
	#map {
		min-width: 45vw;
	}
}
@media (max-width: 900px) {
	.header h1 {
		font-size: 3.5rem;
	}
	.section-practices .services {
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		min-height: 100%;
		width: 100vw;
		margin: 1rem;
	}
	.services li {
		margin: 0 1rem;
	}
}
@media (max-width: 847px) {
	.hero-text-box h1 {
		font-size: 3rem;
	}
	.section-contact p {
		font-size: 0.8rem;
		margin: 0.5rem;
	}
	.section-contact h5 {
		margin: 0.5rem;
	}
	div.container-form-map-row {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	form#form.contact-form {
		min-width: 45vw;
	}
	#map {
		min-width: 45vw;
	}
}
@media (max-width: 767px) {
	.hero-text-box h1 {
		font-size: 2rem;
	}

	/*================================================== Section Practices =========================================*/
	.section-practices .left-bar,
	.section-practices .right-bar {
		display: none;
	}
	.section-practices .services {
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		min-height: 100%;
	}
	.section-practices .services li {
		margin: 0.5rem;
	}
	.section-practices .middle-content {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem;
		padding: 1rem;
	}
	.section-practices .box {
		padding: 1.5rem 2rem;
	}
	.section-phrase-p-break {
		flex-direction: column;
		width: 100vw;
		margin: 0;
	}
	.section-phrase-p-break .p--block {
		width: 100%;
		margin: 2rem;
	}
	/*============================CONTACT==============================================*/

	.container-business {
		width: 70vw;
		display: flex;
		flex-direction: column;
	}
	.section-contact {
		padding: 1rem 2rem;
	}

	form#form.contact-form {
		width: 70vw;
	}

	div.container-form-map-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	form#form.contact-form {
		width: 60vw;
	}
	#map {
		min-width: 70vw;
	}
}
@media (max-width: 535px) {
	/*header */

	.hero-text-box {
		font-size: 1.2rem;
		opacity: 0;
		transform: translate(0vw, 120vh);
		text-align: center;
		animation: 2s slidein480 0.5s forwards;
		padding: 1rem;
	}
	.hero-text-box hr {
		height: 4px;
	}

	.slogan li {
		margin-top: 0.5rem;
		font-size: 1rem;
	}
	section {
		padding: 4rem 3rem;
	}

	/*=================================================================*/
	h2 {
		font-size: 1.5rem;
	}
	i.bars.icon {
		margin: 0;
	}

	.section-phrase {
		min-height: 100vh;
	}
	.section-phrase-p-break {
		flex-direction: column;
		width: 100vw;
		margin: 0;
	}
	.p--block {
		width: 100vw;
		margin: 1rem;
	}
	.icon--block i {
		font-size: 2rem;
	}
	/*==============================================Contact=============================================*/

	.section-contact {
		min-height: 100vh;
	}
	.section-contact .header-row {
		flex-direction: column;
		width: 100%;
	}
	.container-business {
		width: 100vw;
		justify-content: space-around;
		display: flex;
		flex-direction: row;
		order: 0;
	}
	.business--list {
		width: 45vw;
	}
	.header-row h3 {
		font-size: 1.5rem;
	}
	div.container-form-map-row {
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	form#form.contact-form {
		width: 90vw;
		order: 1;
	}
	.contact-form textarea {
		min-height: 12rem;
	}
	#map {
		width: 90vw;
	}
	/* section contact */

	textarea {
		width: 100%;
	}
	footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	footer .container {
		margin: 0 1rem;
		width: 100vw;
		padding: 1rem 2rem;
	}

	/* section phrase */

	.section-phrase p {
		text-align: center;
		font-size: 0.9rem;
	}
}
