/*========================================
========about======================
*/
.section-about {
  line-height: 1.6;
  opacity: 0;
  transition: all 0.6s; }

.section-about--transition {
  opacity: 1; }

.section-about p {
  word-spacing: 2px;
  margin: 0;
  font-size: 1.2rem;
  text-align: center; }

.p-break {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 4rem;
  justify-content: space-around; }

.p-break i {
  color: #3F51B5;
  font-size: 2em; }

.logo2 {
  height: 15rem;
  width: auto; }

.section-about h4 {
  color: #333;
  margin: 0 0 10px 0; }

.section-about h4:after {
  display: none; }

/*========================================
========contact======================
*/
.section-contact {
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(145deg, #f5f5f5 0.5px, #e6e6e6 1px, #fff 2px); }

.section-contact h5 {
  font-size: 1.9rem; }

.section-contact h6 {
  margin-top: 1.2rem;
  font-family: "Raleway"; }

.section-contact h3 {
  margin-top: 0;
  font-size: 1.3rem; }

.section-contact p {
  margin-bottom: 10px; }

.section-contact .header-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d6d6d6; }

.container-form label:after {
  content: " *";
  color: red; }

.container-business {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 1rem 0; }

.business--list {
  width: 25rem; }

.business--list h5 {
  font-size: 1.4rem;
  margin: 1rem 0; }

.business--list p {
  font-size: 1.2rem; }

div.container-form-map-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 1.5rem 0; }

#map {
  height: 40rem;
  min-height: 40rem;
  width: 98vw;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px #bdbdbd; }

#form.contact-form {
  width: 50rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px #bdbdbd; }

.inputs {
  display: flex;
  flex-direction: row;
  min-height: 5vh; }

.input-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 5vh; }

.input-column .row {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0;
  width: 100%; }

div.row.subject--row {
  margin: 0; }

p.subject--select {
  font-size: 1.2rem;
  margin: 0; }

.input-column {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0; }

.icon--container {
  min-height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  min-width: 2rem;
  justify-content: center;
  background-color: #3F51B5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.input-column ion-icon {
  color: #fff;
  font-size: 1.2rem; }

.input-column:nth-child(2) {
  margin-top: 2.5%; }

input[type="text"],
input[type="email"],
select {
  min-height: 2rem;
  padding: 0.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #303F9F;
  background-color: #f7f7f7;
  width: 100%; }

textarea {
  padding: 0.2rem;
  min-height: 8rem;
  border-radius: 3px;
  border: 1px solid #303F9F;
  background-color: #f7f7f7;
  width: 100%; }

textarea:hover,
input:hover {
  border: 1px solid navy; }

form .contact-button {
  margin: 1.5rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  letter-spacing: 2px; }

#footer-logo {
  max-height: 3rem;
  margin-bottom: 1rem; }

*:focus {
  outline: none; }

/* Section phrase Two */
.section-phrase p {
  word-spacing: 4px;
  margin: 0;
  font-size: 1.2rem;
  align-items: center;
  letter-spacing: 2px; }

.section-phrase i {
  color: #3F51B5; }

.section-phrase {
  background: repeating-linear-gradient(35deg, #303f9f 50px, #272e4f 50px, #272e4f 50px);
  color: #fff;
  box-shadow: 0 2px 2px #212121;
  min-height: 50vh; }

.section-phrase-p-break {
  width: 100%;
  margin: 3rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: all 0.5s; }

.section-phrase-transition {
  opacity: 1; }

.p--block {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  margin: 0 2.5rem; }

.p--block p {
  text-align: center;
  font-size: 1.1rem; }

.icon--block {
  min-height: 5vh;
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  transition: all 0.2s; }

.icon--block:hover {
  transform: scale(1.3); }

/*========================================
========practices======================
*/
.section-practices {
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff; }

.section-practices__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }
  .section-practices__container--service-bubble {
    opacity: 0;
    background: #303F9F;
    border-radius: 1px;
    min-height: 20rem;
    min-width: 10rem;
    max-height: 20rem;
    max-width: 30rem;
    box-shadow: 0 25px 25px #182051;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    transition: all 0.3s ease-in-out; }
    .section-practices__container--service-bubble h4 {
      color: #fff;
      font-size: 1.2rem; }
      .section-practices__container--service-bubble h4:after {
        transition: all 0.3s ease-in-out; }
    .section-practices__container--service-bubble i {
      color: #606fc7;
      font-size: 5rem;
      transition: all 0.3s ease-in-out; }
    .section-practices__container--service-bubble:hover {
      cursor: pointer;
      box-shadow: 0 35px 35px #182051;
      transform: translateY(-2vh);
      background: #3d50c5; }
    .section-practices__container--service-bubble:hover i {
      color: #8591d5; }
    .section-practices__container--service-bubble:hover h4:after {
      background-color: #606fc7; }

/*==================================
=========header================*/
.header {
  padding: 0px; }

header {
  background: -ms-linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/law2.jpg");
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/law2.jpg");
  background: -moz-linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/law2.jpg");
  background: -webkit-gradient(linear, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/law2.jpg");
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/law2.jpg");
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  min-height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  filter: grayscale(40%);
  animation: 0.6s fadein linear;
  display: flex;
  flex-direction: row;
  justify-content: center; }

header hr {
  width: 50%;
  background-color: rgba(48, 63, 159, 0.7);
  margin: 1rem 0; }

.slogan {
  color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 1.3; }

.slogan li {
  letter-spacing: 2.6px;
  font-size: 1.5rem; }

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  transform: translate(0vw, 100vh);
  animation: 0.5s slidein 0.5s forwards; }

/*========================================
========footer======================
*/
footer {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 1rem; }

footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: .6rem; }

footer .container:first-child {
  width: 100vw;
  justify-content: center;
  align-items: center; }

footer ul {
  color: #F5f5f5; }

footer .border-top {
  border-top: .5px solid #fff; }

footer .padding {
  padding: 2rem; }

footer .legal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: .5rem; }

footer li {
  list-style: none;
  display: block;
  font-size: 1.1rem;
  margin: 5px auto; }

footer p {
  color: #f5f5f5;
  display: inline-block;
  font-size: 1rem; }

.footer-h5 {
  color: #fff; }

.footer-title {
  font-family: 'Work Sans'; }

@media screen and (max-width: 480px) {
  .hero-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(0vw, 100vh);
    animation: 0.5s slidein480 0.5s forwards; } }

@media screen and (max-width: 480px) {
  .section-practices__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem; }
    .section-practices__container--service-bubble {
      opacity: 0;
      background: #303F9F;
      border-radius: 1px;
      min-height: 15rem;
      min-width: 15rem;
      max-height: 20rem;
      max-width: 20rem;
      box-shadow: 0 25px 25px #182051;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem;
      margin: 2rem;
      transition: all 0.3s ease-in-out; }
      .section-practices__container--service-bubble h4 {
        color: #fff;
        font-size: 1.2rem; }
        .section-practices__container--service-bubble h4:after {
          transition: all 0.3s ease-in-out; }
      .section-practices__container--service-bubble i {
        color: #606fc7;
        font-size: 5rem;
        transition: all 0.3s ease-in-out; }
      .section-practices__container--service-bubble:hover {
        cursor: pointer;
        box-shadow: 0 35px 35px #182051;
        transform: translateY(-2vh);
        background: #3d50c5; }
      .section-practices__container--service-bubble:hover i {
        color: #8591d5; }
      .section-practices__container--service-bubble:hover h4:after {
        background-color: #606fc7; } }

/*========================================
=======buttons===============*/
.btn {
  display: inline-block;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff; }

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .2s linear;
  transition: .2s linear; }

a.btn.btn-full:hover,
a.btn.btn-full:active,
.btn-full:hover,
.btn-full:active {
  background-color: #272e4f;
  cursor: pointer;
  border: 1px solid #272e4f; }

.btn-full,
.btn-full:link,
.btn-full:visited {
  background-color: #303F9F;
  border-radius: 5px;
  border: 1px solid #303F9F;
  margin-right: 15px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 1.1rem; }

.contact-button,
.contact-button:link,
.contact-button:visited {
  background-color: #303F9F;
  border-radius: 5px;
  border: 1px solid #303F9F;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  color: #fff;
  padding: 5px 0;
  margin-top: 5px;
  width: 100%;
  align-items: center; }

.contact-button:hover,
.contact-button:active {
  background-color: #272e4f;
  cursor: pointer;
  border: 1px solid #272e4f; }

/*==================================
=============alerts===============
=================================*/
.alert-success {
  background-color: rgba(76, 175, 80, 0.4);
  border: 1px solid #4caf50;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
  width: 80%;
  margin: 0 auto; }

.alert-failure {
  background-color: rgba(244, 67, 54, 0.4);
  border: 1px solid #f44336;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
  width: 80%;
  margin: 0 auto; }

/*active classes */
.active {
  background: rgba(48, 63, 159, 0.3);
  padding: 1rem;
  color: #fff;
  border-radius: 200px; }

.js-wp-active {
  padding-bottom: .5rem;
  border-bottom: 2px solid #303F9F;
  color: #303F9F; }

.hidden {
  display: none;
  opacity: 0;
  height: 0; }

.show {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

/* main nav */
.main-nav__dropdown {
  position: relative; }

.main-nav li a {
  color: #f5f5f5;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  letter-spacing: 1.7px;
  -webkit-transition: 0.2s;
  padding-bottom: 5px;
  transition: 0.2s;
  border-bottom: 1px solid transparent; }

.main-nav li a:hover,
.main-nav li a:active {
  color: #bdbdbd;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #303F9F;
  cursor: pointer; }

.services-nav,
.main-nav {
  display: flex;
  flex-direction: row;
  z-index: 9999; }

.services-nav li,
.main-nav li {
  list-style: none;
  margin: 0 0.5rem;
  padding: 1rem 0; }

nav {
  position: fixed;
  padding: 0 4rem;
  top: 0;
  left: 0;
  min-height: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  animation: 1s fadein ease;
  z-index: 99999; }

nav .logo {
  display: block;
  height: 32px;
  width: auto;
  cursor: pointer;
  margin-left: 10px; }

.mail-icon {
  color: #fff;
  vertical-align: middle; }

/*mobile nav */
.mobile-navbar {
  display: none; }

.mobile-nav {
  display: none; }

/* Reusable components=============*/
.box {
  padding: 1rem; }

.list > li {
  margin: 1rem 0;
  font-size: .85rem; }

.fadeIn {
  opacity: 1;
  animation: fadein .4s ease-in; }

/*=============================================ANIMATIONS=========================================*/
@keyframes scaleUp {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes skew {
  100% {
    transform: skew(40vw, 60vw); } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slidein {
  100% {
    opacity: 1;
    transform: translate(0vw, 2vh); } }

@keyframes slidein480 {
  100% {
    opacity: 1;
    transform: translate(0vw, 0vh); } }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw); }
  90% {
    transform: translateX(5vw); }
  100% {
    transform: translate(0); } }

@keyframes mobileNavSlide {
  0% {
    transform: translate(-50vw, 50vh);
    color: transparent; }
  50% {
    transform: translate(-10vw, 50vh); }
  90% {
    color: #fff; }
  100% {
    color: #fff;
    width: 100%;
    transform: translate(0vw, 50vh);
    z-index: 9999999; } }

@keyframes reverseSlide {
  0% {
    transform: translate(0, 16vh);
    transform: translate(0, 100%); }
  100% {
    transform: translate(0, -17vh); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #262626;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 1.5px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  font-family: "Raleway";
  font-weight: 500;
  word-spacing: 4px;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
  letter-spacing: 1px;
  padding: 5px; }

h2 {
  font-size: 3rem;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 400; }

h2:after {
  display: block;
  height: 2px;
  background-color: #3F51B5;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px; }

h4:after {
  display: block;
  height: 2px;
  background-color: #3F51B5;
  content: " ";
  width: 100%;
  margin-top: 10px;
  text-align: center;
  position: absolute; }

h3 {
  font-size: 2rem;
  margin-bottom: 15px; }

h4 {
  position: relative;
  font-size: 2rem; }

h5 {
  margin-bottom: 10px; }

h6 {
  font-size: 1.5rem; }

a {
  font-family: "Work Sans", "Arial", sans-serif; }

img {
  padding: 0; }

ul {
  list-style: none; }

section p {
  max-width: 75vw;
  font-size: 1.7rem; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  width: 100vw;
  min-height: 100vh; }

hr {
  width: 70%;
  height: 1px;
  background-color: #3F51B5;
  border: 0;
  margin: 0.5rem 0; }

.container {
  display: flex;
  flex-direction: column; }
