/*active classes */
.active{
   background: rgba(48, 63, 159, 0.3);
   padding:1rem;
   color:#fff;
   border-radius:200px;
}
.js-wp-active{
    padding-bottom:.5rem;
    border-bottom: 2px solid $color;
    color: $color;
}

//hidden 

.hidden {
    display: none;
    opacity: 0;
    height: 0;
}

.show{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:1rem;
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}