/*==================================
=============alerts===============
=================================*/
.alert-success{
    background-color: rgba(76,175,80,0.4);
    border:1px solid rgb(76,175,80);
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    width: 80%;
    margin:0 auto;
}
.alert-failure{
    background-color: rgba(244,67,54,0.4);
    border:1px solid rgb(244,67,54);
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    width: 80%;
    margin:0 auto;
}