/*========================================
=======buttons===============*/
button {
	&::focus {
		outline: none;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}
.btn {
	display: inline-block;
	padding: 5px 20px;
	font-weight: 400;
	font-size: 1.2rem;
	text-decoration: none;
	color: #fff;
}
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
}
a.btn.btn-full:hover,
a.btn.btn-full:active,
.btn-full:hover,
.btn-full:active {
	background-color: #272e4f;
	cursor: pointer;
	border: 1px solid #272e4f;
}
.btn-full,
.btn-full:link,
.btn-full:visited {
	background-color: $color;
	border-radius: 5px;
	border: 1px solid $color;
	margin-right: 15px;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	font-size: 1.1rem;
}
.contact-button,
.contact-button:link,
.contact-button:visited {
	background-color: $background;
	border-radius: 5px;
	border: 1px solid $background;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	color: #f3f3f3;
	padding: 1rem 2rem;
	width: 100%;
}
.contact-button:hover,
.contact-button:active {
	background-color: lighten($background, 10%);
	cursor: pointer;
	border: 1px solid lighten($background, 10%);
}
