@media screen and (max-width: 700px) {
	.modal__type {
		&--success {
			height: 50vw;
			width: 80vw;
			padding: 2rem;
			& p {
				font-size: 1.5rem;
			}
		}
		&--error {
			height: 50vw;
			width: 80vw;
			padding: 2rem;
			& p {
				font-weight: 700;
				font-size: 1.5rem;
			}
		}
	}
	.section-contact {
		& .contact__container {
			display: grid;
			grid-template-columns: repeat(1, auto);
			justify-items: center;
			align-content: center;
			gap: 1rem;
			grid-template-rows: auto;
			background: #fff;
			margin: 0rem 0;
			padding: 1rem 0;
		}

		&--questionnaire {
			min-height: 20rem;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			&--buttons {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;
				&--button {
					padding: 0.7rem 1rem;
					color: #fff;
					background: lighten($color, 20%);
					border: 1px solid lighten($color, 20%);
					transition: all 0.4s ease;
					margin: 0.4rem 1rem;
					border-radius: 25px;
					&:hover {
						background: $color;
						border: 1px solid $color;
						box-shadow: 0 20px 10px darken(#eee, 20%);
						color: #fff;
						cursor: pointer;
					}
					&:focus {
						outline: none;
					}
					&::-moz-focus-inner {
						border: 0 !important;
					}
				}
			}
			&--container {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin: 0rem;
				&--question {
					&--container {
						background: #fff;
						margin: 0;
						&--row {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							border-bottom: 1px solid #eee;
							padding: 1rem;
							& label {
								font-size: 1rem;
							}
							& p {
								font-size: 0.9rem;
							}
							&--input-icon-row {
								display: flex;
								flex-direction: row;
								margin: 0;
								width: 100%;
								&--icon-container {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									min-height: 2rem;
									padding: 0.2rem 0.3rem;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
									& i {
										color: #f3f3f3;
										font-size: 1rem;
									}
								}
								&--input[type='text'],
								input[type='email'] {
									min-height: 2rem;
									padding: 0.2rem;
									width: 100%;
									margin: 0;
									border: 1px solid $brand-white;
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
									font-size: 16px;
									transition: all 0.2s ease-in-out;
									&:hover {
										border: 1px solid lighten($background, 30%);
										box-shadow: 0 0 5px lighten($background, 30%);
									}
									&:focus {
										outline: 0px;
										border: 1px solid lighten($background, 30%);
										box-shadow: 0 0 5px lighten($background, 30%);
									}
								}
							}

							& button {
								transition: all 0.3s ease-in-out;
								color: #f3f3f3;
								padding: 0.6rem 2rem;
								border-radius: 5px;
							}
							&--sub-row {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								padding: 0.5rem 4rem;
								& label {
									font-size: 1rem;
								}
								&--deep {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									padding: 0.5rem 8rem;
								}
							}
						}
						&--row:last-child {
							display: grid;
							grid-template-columns: 1fr;
							grid-template-rows: auto;
							gap: 0.5rem;
						}
					}
				}
			}
		}
		&--form-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 1rem;
			justify-items: center;
			align-content: center;
			& .business--list {
				margin: 0.5rem 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				& li {
					margin: 0.5rem 0;
					& p {
						font-size: 1.2rem;
					}
				}
			}
			&--form {
				background: #fff;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1rem;

				&--heading {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					& h3 {
						color: $brand-text;
					}
				}
				&--logo {
					max-width: 10rem;
				}
				&--inputs {
					&--input-column {
						display: flex;
						flex-direction: column;

						margin: 1rem 0;
						& label {
							color: lighten($background, 10%);
							&::after {
								content: '*';
								color: darken(#ff0000, 10%);
							}
						}
						& .row {
							display: flex;
							flex-direction: row;
							transition: all 0.2s ease-in-out;
							border: 1px solid rgba(30, 30, 30, 0.2);
							border-radius: 5px;
							&:hover {
								border: 1px solid lighten($background, 30%);
								box-shadow: 0 0 5px lighten($background, 30%);
								border-radius: 5px;
							}
							& .icon--container {
								padding: 1rem;
								background: $background;
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
								border: 1px solid transparent;
								& ion-icon {
									color: $brand-white;
									font-size: 1.2rem;
								}
							}
							& input,
							select,
							textarea {
								width: 100%;
								padding: 1rem;
								font-size: 16px;
								border: 1px solid transparent;
								background: $brand-white;
								border-top-right-radius: 5px;
								border-bottom-right-radius: 5px;
								&:hover,
								:focus {
									border: 1px solid lighten($background, 30%);
									box-shadow: 0 0 5px lighten($background, 30%);
								}
							}
						}
					}
				}
			}
		}
	}
}
