@media screen and (max-width: 480px) {
    .hero-text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translate(0vw, 100vh);
      animation: 0.5s slidein480 0.5s forwards;
    }
  }