@media screen and (max-width: 535px) {
	.section-phrase {
		padding: 1rem;
	}
	.section-phrase-p-break {
		width: 100%;
		margin: 1rem;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		grid-template-rows: auto;
		justify-items: center;
	}
	.p--block {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-width: 100%;
		margin: 1rem;
	}

	.icon--block {
		font-size: 2.5rem;
	}
}
